html, body, svg, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

header {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: white;
}

header .header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 50px;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

header .header__arrow:hover {
  opacity: 0.7;
}

header img {
  width: 150px;
  margin: 0;
}

.img-delice {
  margin-top: -80px;
  height: 40vh;
  background: url(../img/delice_menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-french {
  margin-top: -80px;
  height: 40vh;
  background: url(../img/french_menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-palette {
  margin-top: -80px;
  height: 40vh;
  background: url(../img/palette_menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-note {
  margin-top: -80px;
  height: 40vh;
  background: url(../img/note_menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div-content {
  border-radius: 35px 35px 0 0;
  margin-top: -33px;
  position: relative;
  width: 100%;
  padding: 0 30px;
  background: #f2f2f2;
}

.headings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 90%;
      grid-template-rows: 90%;
  padding: 25px 0;
}

.headings .headings__titles {
  font-family: "Shrikhand", cursive;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  font-size: 20.5px;
  margin: 0;
}

.headings .headings__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.headings .headings__heart svg.Capa_1 {
  height: 40px;
  width: 32px;
}

.headings svg.Capa_2 {
  height: 40px;
  width: 32px;
  fill: white;
  stroke: black;
  stroke-width: 22px;
  cursor: pointer;
  -webkit-transition: opacity 400ms, -webkit-transform 350ms;
  transition: opacity 400ms, -webkit-transform 350ms;
  transition: opacity 400ms, transform 350ms;
  transition: opacity 400ms, transform 350ms, -webkit-transform 350ms;
}

.headings svg.Capa_2:hover {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.div-content-menus {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
}

.sections-menus {
  display: -ms-grid;
  display: grid;
  height: 310px;
}

.sections-menus-four {
  display: -ms-grid;
  display: grid;
  height: 400px;
}

.meal-timeline-titles {
  font-size: 15.5px;
  font-weight: normal;
}

.meal-timeline-titles span {
  border-bottom: #99E2D0 solid;
  padding-bottom: 7px;
}

.dishes {
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11.8px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  overflow: hidden;
  height: 58px;
  cursor: pointer;
}

.dishes .dishes__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px 4px 15px;
  overflow: hidden;
}

.dishes .dishes__content:hover + .div-logo {
  width: 70px;
  opacity: 0.8;
  background: #99E2D0;
}

.dishes .dishes__content:hover + .div-logo > i.logo {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dishes .dishes__content .title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin-right: 5px;
}

.dishes .dishes__content .title-description h3 {
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dishes .dishes__content .title-description .dishes-description {
  font-weight: 800;
  margin: 5px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 13.5px;
}

.dishes .dishes__content .price {
  margin: 0 5px 0 0;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dishes .div-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  margin: 0;
  border-radius: 0 20px 20px 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: flex;
}

.dishes .div-logo:hover {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
  background: #99E2D0;
}

.dishes .div-logo:hover > i.logo {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dishes .div-logo i.logo {
  color: white;
  opacity: 0;
  font-size: 25px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: opacity 300ms 100ms,  -webkit-transform 500ms ease-in-out;
  transition: opacity 300ms 100ms,  -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out,  opacity 300ms 100ms;
  transition: transform 500ms ease-in-out,  opacity 300ms 100ms,  -webkit-transform 500ms ease-in-out;
}

.dish-animation1 {
  -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.dish-animation2 {
  -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.dish-animation3 {
  -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-button Button {
  width: 165px;
  height: 40px;
  margin: 50px 0;
  border-radius: 65px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.div-button Button:hover {
  opacity: 0.9;
}

footer {
  background: #353535;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: white;
  padding: 15px 0 20px 40px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__heading {
  margin: 0 0 30px 0;
}

footer .footer__heading .footer__heading--link {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .footer__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  width: 250px;
  font-size: 14px;
  cursor: pointer;
}

footer .footer__content div i + p {
  margin-left: 20px;
}

footer .footer__content div .footer__logo--hands + p {
  margin-left: 13px;
}

footer .footer__content div a {
  color: white;
}

footer .footer__content p {
  margin: 0;
}

/* Loading spinner */
.loading-veil {
  position: fixed;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 10;
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
  visibility: hidden;
}

@-webkit-keyframes opacity {
  0% {
    visibility: visible;
    opacity: 0.5;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opacity {
  0% {
    visibility: visible;
    opacity: 0.5;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.chargement {
  z-index: 10;
  height: 120px;
  width: 120px;
  border-left: 15px solid #9356DC;
  border-top: 15px solid #9356DC;
  border-bottom: 15px solid #FF79DA;
  border-right: 15px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: spin 2s ease;
          animation: spin 2s ease;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.chargement i {
  color: #99E2D0;
  font-size: 40px;
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

.main-home {
  width: 100%;
}

.main-home h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.main-home form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 130px 1fr;
      grid-template-columns: 1fr 130px 1fr;
  height: 55px;
  background: #e2e2e2;
}

.main-home form input {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 70%;
  margin: 2.5px auto 0 auto;
  border: none;
  background: #e2e2e2;
}

.main-home form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.main-home .heading_page {
  width: 100%;
  text-align: center;
  padding: 35px 15px 15px 15px;
  background: #f2f2f2;
}

.main-home .heading_page h1 {
  font-size: 23.5px;
  width: 100%;
}

.main-home .heading_page p {
  margin-top: 10px;
  font-size: 17px;
}

.main-home .heading_page button {
  width: 220px;
  margin: 25px 0;
}

.main-home .section-filters {
  width: 100%;
  padding: 0 30px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .section-filters .content-filters {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.main-home .section-filters .content-filters .filter {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.main-home .section-filters .content-filters .filter:hover {
  background: rgba(147, 86, 220, 0.1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.main-home .section-filters .content-filters .filter:hover:hover > .filter__logo-text i {
  color: #9356DC;
}

.main-home .section-filters .content-filters .filter__number {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  height: 26.2px;
  border-radius: 25px;
  font-size: 12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
}

.main-home .section-filters .content-filters .filter__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-home .section-filters .content-filters .filter__logo-text .filter__content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  margin-left: 10px;
}

.main-home .section-filters .content-filters .filter__logo-text .filter__content-logo i {
  color: grey;
  font-size: 18px;
}

.main-home .section-filters .content-filters .filter__logo-text p {
  font-weight: bold;
}

.section-restaurants {
  width: 100%;
  padding: 0 30px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 35px;
  padding-bottom: 40px;
}

.section-restaurants .section-restaurants__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
}

.section-restaurants .section-restaurants__content article {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.section-restaurants .section-restaurants__content article:hover {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(147, 86, 220, 0.5);
          box-shadow: 0px 0px 25px 0px rgba(147, 86, 220, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.section-restaurants .section-restaurants__content article .new {
  background: #99E2D0;
  position: absolute;
  color: #1b6150;
  border-radius: 6px;
  padding: 7px 11px;
  right: 25px;
}

.section-restaurants .section-restaurants__content article img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.section-restaurants .section-restaurants__content article .announces {
  padding: 10px 5px 10px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px;
      grid-template-columns: 1fr 50px;
}

.section-restaurants .section-restaurants__content article .announces .announces__description {
  margin: 0;
  color: black;
}

.section-restaurants .section-restaurants__content article .announces h3 {
  font-size: 16px;
}

.section-restaurants .section-restaurants__content article .announces .announces__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-top: -10px;
}

.section-restaurants .section-restaurants__content article .announces .announces__heart svg.Capa_1 {
  height: 30px;
  width: 30px;
}

.section-restaurants .section-restaurants__content article .announces .announces__heart svg.Capa_2 {
  stroke: black;
  stroke-width: 26px;
  fill: white;
  -webkit-transition: opacity 400ms, -webkit-transform 350ms;
  transition: opacity 400ms, -webkit-transform 350ms;
  transition: opacity 400ms, transform 350ms;
  transition: opacity 400ms, transform 350ms, -webkit-transform 350ms;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.section-restaurants .section-restaurants__content article .announces .announces__heart svg.Capa_2:hover {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 700px) {
  .main-home .section-restaurants .section-restaurants__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer {
    padding-left: 0;
    text-align: center;
  }
  footer .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
    max-width: 650px;
  }
  footer .footer__content div {
    margin-right: 20px;
    margin-bottom: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 840px) {
  .section-filters .content-filters {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 370px) {
  .headings .headings__titles {
    font-size: 23.5px;
  }
  .dishes {
    font-size: 12px;
  }
  .dishes .dishes__content .title-description .dishes-description {
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (min-width: 600px) {
  .headings {
    width: 60%;
    margin: auto;
  }
  .div-content .div-content-menus {
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 1035px) {
  .headings {
    width: 100%;
  }
  .div-content .div-content-menus {
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */