// Variables
@import "./utils/variables";

// Mixins

@import "./utils/mixins";

svg {margin:0; padding:0;}

* { box-sizing: border-box; }

a {text-decoration:none ;}

html, body {margin: 0; padding: 0;}

h2 {margin:0;}



header {    width: 100%; 
            padding:4% 0;
            display: grid; 
            grid-template-columns: 1fr 400px 1fr;     
            align-items: center; 
        
        .header__arrow {font-size: 50px; margin-left: 15%;}
        img {width:100%}
        svg {grid-column-start: 2;
            grid-column-end: 3;
            }
}    


.main-française   { @include img-french;  }

.main-delice {  @include img-delice; }

.main-note { @include img-note; 
}
.main-palette {@include img-palette;}

.div-content {      
                    padding: 0 5%;
                    border-radius: 95px 95px 0 0;
                    width: 100%; 
                    background: #f2f2f2;
                   
                    
}


.headings { display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 90%;
            margin-bottom:5%;
            padding:0;
            height:200px;
            

            .headings__titles { 
                font-family: $font-shrikhand; 
                grid-column-start: 1;
                grid-column-end: 4;
                font-size: 60px; 
                
            }

            .headings__heart--gradient {  
                
                display: flex;
                align-items: center;
                justify-content: flex-end;
                grid-column-start: 4;
                grid-column-end: 5;
                padding:0;
                grid-row-start: 1;
                grid-row-end:2; 
                
                
                
            }

            .headings__heart {display: flex;
                align-items: center;
                justify-content: flex-end;
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end:2; 
                svg#Capa_1 {    height:80px;
                                stroke:black; 
                                stroke-width: 25px;
                                transition:opacity 400ms, transform 350ms;

                                &:hover {opacity:0; transform:scale(0.9)}} 
                            }
                
            
        }


.div-content-menus{ display: grid;
                    grid-gap:90px; }
                    

.sections-menus{    display: grid;
                    grid-gap: 40px;
                    width: 100%;
                    
                    
}

.meal-timeline-titles { font-size: 43px; font-weight: 0; margin-bottom: 2%;
                     span { border-bottom: $color-tertiary solid 7px; padding-bottom:10px; } 
                        } 



// Dishes Case

.dishes {   background: white; 
            border-radius: 20px; 
            display: flex; 
            justify-content: flex-end; 
            width: 100%; 
            box-shadow: 1px 1px 15px;
            
.dishes__content {  width: 100%;
                    display: flex; 
                    align-items: flex-end; 
                    justify-content: space-between; 
                    padding: 3% 5% 3% 3%; 
                    &:hover + .div-logo {   width: 150px; 
                                            display: flex; 
                                            opacity: 0.8; 
                                            background: $color-tertiary;
                                            
                        & > i.logo {    opacity: 1; transform: rotate(0deg); }     
                                        }

                    .title-description { 	display: flex; 
                                            flex-direction: column; 
                                            
                                            

                        h3 {font-size: 43px;
                            margin:0;  }
                        
                        .dishes-description {   font-weight: normal; 
                                                margin:1.5% 0 0 0; }

                              }
            
                        .price {margin:0; 
                                font-weight: bold; 
                                font-size: 39px;}

            

                }
.div-logo { align-items: center; 
            justify-content: center;
            display: flex;
            width: 0;
            margin: 0;
            border-radius: 0 20px 20px 0 ;
            transition: 0.6s;

             &:hover {  width: 150px; 
                        display: flex; 
                        opacity: 0.8;  
                        background: $color-tertiary; }

            &:hover > i.logo {opacity: 1; transform: rotate(0deg);  }

            i.logo {    color: white; 
                        opacity: 0; 
                        font-size: 40px; 
                        transform: rotate(-360deg);
                        transition: transform 500ms ease-in-out, 
                        opacity 300ms 100ms; }     }

}


// Button 

.div-button {   display:flex;
                justify-content: center;
                align-items: center;
                height:350px;
                
                
            
                Button {    width: 50%; 
                            height:110px; 
                            border-radius: 65px; 
                            color:white; 
                            background: linear-gradient($color-secondary, $color-primary); 
                            border: none;
                            font-size: 40px;
                            opacity:1;
                           
                            &:hover {opacity:0.9;}
                            
                        }
            


}

footer {    background:$color-footer; 
            color:white; 
            padding:7% 0% 6% 8%;

            .footer__heading {  margin-bottom: 7%;
                                

            a{    font-family: $font-shrikhand;
                                font-weight: 0;
                                font-size: 43px; 
                                color:white;}
                        }

            div {   display: flex;
                    align-items: center;
                    margin-bottom: 3%;
                    
                    i+p {margin-left:50px;}
                    .footer__logo--hands+p {margin-left:33px;}
                
            }         
                
            p { margin:0;
                }          
         }