// Variables
@import "./utils/variables";

// Mixins

@import "./utils/mixins";


html, body, svg, h1, h2, h3 {margin: 0; padding: 0;}

main {font-family: $font-roboto;}

* { box-sizing: border-box; }

a {text-decoration:none; 
  cursor:pointer; 
  color: black;  }





header {    width: 100%; 
            padding:20px 0;
            display: flex; 
            justify-content: center;   
            align-items: center;
            position: relative;
           
            background:white;

        // Back arrow
        .header__arrow {display: flex;
                        align-items: center;
                        color: black;  
                        height: 50px;
                        position:absolute;
                        left: 20px;
                        font-size: 20px;
                        &:hover {opacity:0.7;}
                      }
                      // Logo
                          img {width: 150px; margin:0;}
        }
        

// Restaurants Images
    
  .img-delice { @include img-delice;
              
            }
  .img-french { @include img-french;

  }
  .img-palette {@include img-palette;}

  .img-note { @include img-note; }

.div-content {  border-radius: 35px 35px 0 0;
                margin-top:-33px;
                position:relative;
                @include rules-styles;
                
               
}


.headings { display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 90%;
            padding:25px 0;
            
            // Title 
            .headings__titles { font-family: $font-shrikhand; 
                                grid-column-start: 1;
                                grid-column-end: 4;
                                font-size: 20.5px; 
                                margin:0;
            }

            .headings__heart { display: flex;
                              align-items: center;
                              justify-content: flex-end;
                              grid-column-start: 4;
                              grid-column-end: 5;
                              grid-row-start: 1;
                              grid-row-end:2; 
                
              // Hearts
                svg.Capa_1 {    
                                height:40px;
                                width:32px;

                               } 
                            }
                svg.Capa_2 {height:40px;
                            width:32px;
                            fill:white;
                            stroke:black; 
                            stroke-width: 22px;
                            cursor:pointer;
                            transition:opacity 400ms, transform 350ms;

                            &:hover {opacity:0; transform:scale(0.9)} }
                
            
        }


.div-content-menus{ display: grid;
                    grid-gap:35px; 
                  }


.sections-menus{    display: grid;
                    height:310px;
                   
                  
}

.sections-menus-four {display:grid; height:400px; }

.meal-timeline-titles { font-size: 15.5px; 
                        font-weight: normal; 
                        

                        span {  border-bottom: $color-tertiary solid; 
                                padding-bottom:7px; } 
                        } 



// Dishes Case

.dishes {   background: white; 
            border-radius: 20px; 
            display: flex; 
            font-size: 11.8px;
            width: 100%; 
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            white-space: nowrap;
            overflow: hidden;
            height: 58px;
            cursor:pointer;
            
            
          
            
.dishes__content {  width: 100%;
                    display: flex;
                    align-items: center; 
                    padding: 4px 10px 4px 15px;
                    overflow: hidden;
                    
                    
                    
                  
                    
                    &:hover + .div-logo {   width: 70px;  
                                            opacity: 0.8; 
                                            background: $color-tertiary;
                                            
                        & > i.logo {    opacity: 1; transform: rotate(0deg); }     
                                        }


                                        
                                        
                 
                    .title-description {  display: flex; 
                                          flex-direction: column; 
                                          width: 85%;
                                          margin-right:5px;
                                          
                                         
                                                    

                        h3 {margin:0;  
                            width:100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            
                              }
                        
                        
                        .dishes-description {   font-weight: 800; 
                                                margin:5px 0 0 0; 
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                width: 100%;
                                                font-size: 13.5px;
                                               }
                       


                              }
            
                        .price {margin:0 5px 0 0;
                                font-size: 14px;
                                font-weight: bold;
                                height: 40px;
                                display: flex;
                                align-items: flex-end;
                              }

            

                }

.div-logo { align-items: center; 
            justify-content: center;
            display: flex;
            width: 0;
            margin: 0;
            border-radius: 0 20px 20px 0;
            transition: 0.6s;
            display: flex;
            

             &:hover {  width: 70px; 
                        display: flex; 
                        opacity: 0.8;  
                        background: $color-tertiary; }

            &:hover > i.logo {opacity: 1; transform: rotate(0deg);  }

            i.logo {    color: white; 
                        opacity: 0; 
                        font-size: 25px;
                        transform: rotate(-360deg);
                        transition: transform 500ms ease-in-out, 
                        opacity 300ms 100ms; }     }

}

// Appearance animation STARTER    
              
.dish-animation1 { -webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: slide-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
}
@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity:0;
}
100% {
-webkit-transform: translateY(0);
  transform: translateY(0);
  opacity:1;
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity:0;
}
100% {
-webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity:1;
  
}

}


// Appearance animation DISH 

.dish-animation2 {-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940); }

@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
transform: translateY(50px);
opacity:0;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity:1;
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
transform: translateY(50px);
opacity:0;
}
100% {
-webkit-transform: translateY(0px);
transform: translateY(0px);
opacity:1;

}
}


// Appearance animation DESSERT 

.dish-animation3 {-webkit-animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        animation: slide-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940); }

@-webkit-keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
transform: translateY(50px);
opacity:0;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity:1;
}
}
@keyframes slide-top {
0% {
-webkit-transform: translateY(50px);
transform: translateY(50px);
opacity:0;
}
100% {
-webkit-transform: translateY(0px);
transform: translateY(0px);
opacity:1;

}
}





// Button 

.div-button {   display:flex;
                justify-content: center;
                align-items: center;              
                
                
            
                Button {    width:165px;
                            height: 40px;
                            margin:50px 0;
                            border-radius: 65px; 
                            color:white; 
                            background: linear-gradient($color-secondary, $color-primary); 
                            border: none;
                            font-size: 15px;
                            cursor:pointer;
                            
                           
                            &:hover {opacity:0.9;}
                            
                        }
            


}

footer {  background:$color-footer;
          font-family: $font-roboto;
          font-weight: lighter;
          color:white; 
          padding:15px 0 20px 40px;
          font-size: 17px;
          display: flex;
          flex-direction: column;
          
         

  

  .footer__heading {  margin:0 0 30px 0;;
    

                      .footer__heading--link {font-family: $font-shrikhand;
                                              color:white;
                                              font-size: 20px;}}
  
  .footer__content {display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    width: 100%;

                  div {   display: flex;
                          align-items: center;
                          margin-bottom: 10px;
                          width: 250px;
                          font-size: 14px;
                          cursor:pointer;
                          
                          
                          i+p {margin-left:20px;}
                          .footer__logo--hands+p {margin-left:13px;}

                      a {color:white;}
                  }         
      
                      p { margin:0;
                        
                          }          
}}

@import "./pages/index";

@media screen and (min-width:370px) {
  .headings { 
    
    .headings__titles { 
        
        font-size: 23.5px; 
      
        
    }
  }
  .dishes { font-size: 12px;
    

    .dishes__content{
                    .title-description {
                      .dishes-description {font-size: 15px; font-weight: 500;}
      }
    }
  }
  
}


@media screen and (min-width:600px) {.headings { width: 60%; margin: auto;}
                                      .div-content{ 
                                        .div-content-menus{ width: 60%; margin: auto;}
                                    }
                                  }


@media screen and (min-width:1035px) {.headings {width: 100%;}
                                      .div-content{
                                            .div-content-menus{width: 100%; grid-template-columns: 1fr 1fr 1fr;}
                                                }
                                            
                                            footer{font-size: 14px;}
                                      }