
@mixin img-french { margin-top: -80px;
                    height: 40vh;
                    background: url(../img/french_menu.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
}

@mixin img-delice { margin-top: -80px;
                    height: 40vh;
                    background: url(../img/delice_menu.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
}

@mixin img-palette { margin-top: -80px;
                    height: 40vh;
                    background: url(../img/palette_menu.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
}

@mixin img-note { margin-top: -80px;
                  height: 40vh;
                  background: url(../img/note_menu.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
}

@mixin rules-styles($color:$color-grey){    width: 100%; 
                                            padding: 0 30px;
                                            background: $color; 
}


